---
import '@fontsource/inter';
import '../../global.css'
import BaseContainer from '../base/BaseContainer.astro'
import { Icon } from 'astro-icon/components'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gray-50 text-gray-800">
    <nav class="bg-white h-16 border border-gray-200 flex items-center">
      <BaseContainer class="w-full flex items-center justify-between">
        <a href="/" class="font-bold text-xl tracking-tight text-gray-900 transition hover:text-blue-600">Dataset</a>
        <a href="" class="text-gray-500 transition hover:text-gray-900">
          <Icon name="mingcute:github-fill" class="size-6" />
        </a>
      </BaseContainer>
    </nav>
    <slot />	
	</body>
</html>
