---
import Default from '../components/layouts/Default.astro';
import BaseContainer from '../components/base/BaseContainer.astro';
import { Icon } from 'astro-icon/components';
---

<Default>
  <BaseContainer class="flex-grow flex items-center justify-center">
    <div class="space-y-6 max-w-screen-sm">
      <div class="text-center space-y-4">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900">Tentang Website</h1>
        <p class="text-lg text-gray-600 leading-relaxed">Website ini adalah website yang menyajikan kumpulan dataset dari beragam sumber terbuka yang siap diunduh dan digunakan.</p>
      </div>
      <div class="flex flex-col gap-4 sm:grid sm:grid-cols-2">
        <a href="https://github.com/ibrahimalanshor/dataset" class="bg-white shadow-xs border border-gray-200 font-medium text-gray-700 h-13 flex items-center justify-center gap-2 rounded-md transition hover:bg-gray-900 hover:text-white hover:border-gray-900">
          <Icon name="mingcute:github-fill" />
          Github Repository
        </a>
        <a href="https://ibrahimalanshor.github.io/" class="bg-blue-600 shadow-xs border border-transparent font-medium text-white h-13 flex items-center justify-center gap-2 rounded-md transition hover:bg-blue-700">
          <Icon name="mingcute:user-3-fill" />
          Dibuat Oleh : Ibrahim Al-Anshor 
        </a>
      </div>
    </div>
  </BaseContainer>
</Default>
