---
import Default from "../components/layouts/Default.astro"
import BaseContainer from "../components/base/BaseContainer.astro"
---

<Default>
  <BaseContainer tag="main" class="py-10">
    <section class="space-y-2">
      <h1 class="font-bold text-3xl text-gray-900">Dataset</h1>
      <p class="text-gray-500">Daftar lengkap dataset yang tersedia.</p>
    </section>
  </BaseContainer>
</Default>
